@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

/* In your custom CSS file (e.g., style.css) */
.box {
  --mask:
    radial-gradient(11.66px at 50% calc(100% - 16px),#000 99%,#0000 101%) calc(50% - 20px) 0/40px 100%,
    radial-gradient(11.66px at 50% calc(100% + 6px),#0000 99%,#000 101%) 50% calc(100% - 10px)/40px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

body::-webkit-scrollbar {
  width: 0;
}

.project-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
